* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 5%;
  width: 100%;
  max-width: 800px;
}

.title h1 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #df6219, 0 0 10px #ff8d00, 0 0 98px #df6219;
  color: #fff6a9;
  animation: blink 12s infinite;
  -webkit-animation: blink 10s infinite;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: rgb(19, 178, 184);
  }
}

.calculator {
  width: 100%;
  max-width: 800px;
  margin-top: 5%;
  background: rgb(251, 252, 247);
  border-radius: 10px;
  overflow: hidden;
  box-shadow:
    0 0 0.2rem #fff,
    0 0 0.2rem #fff,
    0 0 2rem #e6a20f,
    0 0 0.4rem #e6a20f,
    0 0 0.8rem #e6a20f,
    inset 0 0 1.2rem #e6a20f;
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: rgb(238, 184, 5);
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #e65e10, 0 0 10px #ff8d00, 0 0 98px #ff6600;
  color: #eeeae5;
  }
}

.result {
  padding: 5%;
  text-align: right;
  background: rgb(146, 143, 143);
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: 300;
}

button {
  color: rgb(22, 23, 20);
  background: rgb(224, 225, 222);
  padding: 5%;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
  appearance: none;
  border: 1px solid rgb(220, 209, 209);
  transition: all 0.4s ease-out;
}

button:hover {
  color: aqua;
  background: rgb(80, 76, 76);
  opacity: 0.5;
}

.wrapper {
  display: flex;
  flex: 1 1 30%;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 26%;
}

.operators button {
  flex: 1;
  background: rgb(239, 160, 12);
}

.digits-numbers {
  display: flex;
  flex-wrap: wrap;
  background: rgb(224, 225, 222);
}

.digits-numbers button {
  flex: 1 1 33.33%;
  max-width: 33.33%;
}

.top-cal {
  display: flex;
  flex-wrap: wrap;
  background: rgb(224, 225, 222);
}

.top-cal button {
  flex: 1 1 33.33%;
  max-width: 33.33%;
}

.bottom-cal {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.bottom-cal button {
  width: 33.33%;
}

.bottom-cal .btn0 {
  width: 66.777%;
  outline: none;
}

.main-cal {
  display: flex;
  flex-direction: column;
  flex: 1;
}
