* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 800px;
  background: rgb(251, 252, 247);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.5);
}

.result {
  padding: 5%;
  text-align: right;
  background: rgb(146, 143, 143);
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: 300;
}

button {
  color: rgb(22, 23, 20);
  background: rgb(224, 225, 222);
  padding: 5%;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
  appearance: none;
  border: 1px solid rgb(220, 209, 209);
  transition: all .4s ease-out;
}

button:hover {
  color: aqua;
  background: rgb(80, 76, 76);
  opacity: 0.5;
}

.wrapper {
  display: flex;
  flex: 1 1 30%;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 26%;
}

.operators button{
  flex: 1;
  background: rgb(239, 160, 12);
  
}

.digits-numbers {
  display: flex;
  flex-wrap: wrap;
  background: rgb(224, 225, 222);
}

.digits-numbers button {
  flex: 1 1 33.33%;
  max-width: 33.33%;
}

.top-cal {
  display: flex;
  flex-wrap: wrap;
  background: rgb(224, 225, 222);
}

.top-cal button {
  flex: 1 1 33.33%;
  max-width: 33.33%;
}

.bottom-cal {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.bottom-cal {
  flex: 1 50%;
}

.bottom-cal button {
  width: 33.33%;
}

.bottom-cal .btn0 {
  width: 66.777%;
  outline: none;
}

.main-cal {
  display: flex;
  flex-direction: column;
  flex: 1;
}